<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>收获地址</title>
 <meta name="keywords" content="DeathGhost,DeathGhost.cn,web前端设,移动WebApp开发" />
 <meta name="description" content="DeathGhost.cn::H5 WEB前端设计开发!" />
 <meta name="author" content="DeathGhost"/>
 <link th:href="@{~/style/style.css}" rel="stylesheet" type="text/css" />
 <script type="text/javascript" th:src="@{~/js/public.js}"></script>
 <script type="text/javascript" th:src="@{~/js/jquery.js}"></script>
 <script type="text/javascript" th:src="@{~/js/jqpublic.js}"></script>
<!--
Author: DeathGhost
Author URI: http://www.deathghost.cn
-->
</head>
<body>
<div th:include="header :: header"></div>
<!--Start content-->
<section class="Psection MT20">
<nav class="U-nav Font14 FontW">
  <ul>
   <li><i></i><a th:href="@{/usercenter}">用户中心首页</a></li>
   <li><i></i><a th:href="@{/userorderlist(uid=${session.userInfo.getuId()})}">我的订单</a></li>
   <li><i></i><a th:href="@{/useraddress(uid=${session.userInfo.getuId()})}">收货地址</a></li>
   <li><i></i><a th:href="@{/usermessage}">我的留言</a></li>
   <li><i></i><a th:href="@{/userfavorites(uid=${session.userInfo.getuId()})}">我的收藏</a></li>
   <li><i></i><a th:href="@{/useraccount}">账户管理</a></li>
   <li><i></i><a href="login">安全退出</a></li>
  </ul>
 </nav>
 <article class="U-article Overflow">
  <!--user Address-->
  <section class="Myaddress Overflow">
   <span class="MDtitle Font14 FontW Block Lineheight35">收货人信息</span>
   <form th:action="@{/editaddr}">
    <input type="hidden" name="aid" th:value="${session.address.getAid()}">
    <input type="hidden" name="uid" th:value="${session.userInfo.getuId()}">
   <table>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">收件人姓名：</td>
     <td><input type="text" name="auname" required class="input_name" th:value="${session.address.getAuname()}"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
     <td><input type="text" name="auphone" required pattern="[0-9]{11}" th:value="${session.address.getAuphone()}" class="input_tel"></td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">选择所在地：</td>
     <td>
      <select name="azone" class="select_ssq" >
       <option th:text="${session.address.getAzone()}"></option>
       <option>教学区A</option>
       <option>教学区B</option>
       <option>教学区C</option>
       <option>教学区D</option>
       <option>生活区1</option>
       <option>生活区2</option>
       <option>生活区3</option>
       <option>生活区4</option>
      </select>
     </td>
    </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right">详细地址：</td>
     <td>
      <input type="text" required size="50" name="ainfo" th:value="${session.address.getAinfo()}" class="input_addr">
     </td>
    </tr>

    <tr>
     <td align="right"  width="30%" class="Font14 FontW Lineheight35"></td>
     <td class="Lineheight35">
      <button name="editBtn" type="submit"  class="Submit" th:onclick="add()">确认修改</button>
      <button name="delBtn" type="submit"  class="Submit">删除</button>
     </td>
    </tr>
   </table>
   </form>
   <!--add new address-->
   <form th:action="@{/address}">
    <table style="margin-top:10px;">
     <tr>
      <td width="30%" class="Font14 FontW Lineheight35" align="right">收件人姓名：</td>
      <td><input type="text" name="auname" required  class="input_name"></td>
     </tr>
     <tr>
      <td width="30%" class="Font14 FontW Lineheight35" align="right">手机号码：</td>
      <td><input type="text" name="auphone" required  class="input_tel"></td>
     </tr>
     <tr>
      <td width="30%" class="Font14 FontW Lineheight35" align="right">选择所在地：</td>
      <td>
       <select name="azone" class="select_ssq">
        <option>教学区A</option>
        <option>教学区B</option>
        <option>教学区C</option>
        <option>教学区D</option>
        <option>生活区1</option>
        <option>生活区2</option>
        <option>生活区3</option>
        <option>生活区4</option>
       </select>
      </td>
     </tr>
     <tr>
      <td width="30%" class="Font14 FontW Lineheight35" align="right">详细地址：</td>
      <td><input type="text" required size="50" name="ainfo" class="input_addr"></td>
     </tr>
    <tr>
     <td width="30%" class="Font14 FontW Lineheight35" align="right"></td>
     <td class="Font14 Font Lineheight35">
      <button name="" type="submit" value="新增收货地址"  class="Submit">新增收货地址</button>
     </td>
    </tr>
   </table>
   </form>
  </section>
 </article>
</section>
<!--End content-->
<div class="F-link"></div>
<div th:replace="footer :: footer"></div>
</body>
</html>
