<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.campus.order.mapper.ProductTypeMapper" >
  <resultMap id="BaseResultMap" type="com.campus.order.domain.ProductType" >
    <id column="t_id" property="tId" jdbcType="BIGINT" />
    <result column="t_name" property="tName" jdbcType="VARCHAR" />
    <result column="t_mid" property="tMid" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    t_id, t_name, t_mid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.campus.order.domain.ProductTypeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from product_type
    where t_id = #{tId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from product_type
    where t_id = #{tId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.campus.order.domain.ProductTypeExample" >
    delete from product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.campus.order.domain.ProductType" >
    insert into product_type (t_id, t_name, t_mid
      )
    values (#{tId,jdbcType=BIGINT}, #{tName,jdbcType=VARCHAR}, #{tMid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.campus.order.domain.ProductType" >
    insert into product_type
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        t_id,
      </if>
      <if test="tName != null" >
        t_name,
      </if>
      <if test="tMid != null" >
        t_mid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tId != null" >
        #{tId,jdbcType=BIGINT},
      </if>
      <if test="tName != null" >
        #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tMid != null" >
        #{tMid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.campus.order.domain.ProductTypeExample" resultType="java.lang.Integer" >
    select count(*) from product_type
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update product_type
    <set >
      <if test="record.tId != null" >
        t_id = #{record.tId,jdbcType=BIGINT},
      </if>
      <if test="record.tName != null" >
        t_name = #{record.tName,jdbcType=VARCHAR},
      </if>
      <if test="record.tMid != null" >
        t_mid = #{record.tMid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update product_type
    set t_id = #{record.tId,jdbcType=BIGINT},
      t_name = #{record.tName,jdbcType=VARCHAR},
      t_mid = #{record.tMid,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.campus.order.domain.ProductType" >
    update product_type
    <set >
      <if test="tName != null" >
        t_name = #{tName,jdbcType=VARCHAR},
      </if>
      <if test="tMid != null" >
        t_mid = #{tMid,jdbcType=BIGINT},
      </if>
    </set>
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.campus.order.domain.ProductType" >
    update product_type
    set t_name = #{tName,jdbcType=VARCHAR},
      t_mid = #{tMid,jdbcType=BIGINT}
    where t_id = #{tId,jdbcType=BIGINT}
  </update>
</mapper>